type project
id BlackFox.MasterOfFoo
title Master Of Foo
owners Julien Roncaglia
authors Julien Roncaglia
tags F# FSharp printf
projectUrl
    https://github.com/vbfox/MasterOfFoo
licenseUrl
    https://github.com/vbfox/MasterOfFoo/blob/master/LICENSE.md
requireLicenseAcceptance
    false
copyright
    Copyright 2016
summary
    Because printf is not enough !
description
    Because printf is not enough !
